In [1]:
import pandas as pd

In [2]:
df= pd.read_csv('Nepali_Treking_Dataset.csv')

In [3]:
df.head()

,Unnamed: 0,Trek,Cost,Time,Trip Grade,Max Altitude,Accomodation,Best Travel Time,Date of Travel,Sex,...,Regional code,Country,Fitness Level,Weather Conditions,Trekking Group Size,Guide/No Guide,Equipment Used,Purpose of Travel,Health Incidents,Review/Satisfaction
0,0,Everest Base Camp Trek,"\n$1,420 USD",16 Days,Moderate,5545 m,Hotel/Guesthouse,March - May & Sept - Dec,9/13/2022,Non-Binary,...,0,total,Intermediate,Clear,10.0,Guide,Poles,Leisure,NaN,4.5
1,1,Everest Base Camp Short Trek,"\n$1,295 USD",14 Days,Moderate,5545 m,Hotel/Guesthouse,March - May & Sept - Dec,9/4/2021,Female,...,40,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Everest Base Camp Heli Shuttle Trek,\n$2000 USD,12 Days,Moderate,5545 m,Hotel/Guesthouse,March - May & Sept - Dec,1/25/2021,Female,...,80,Albania,Advanced,Snowy,12.0,Guide,Oxygen,Charity,NaN,5.0
3,3,Everest Base Camp Heli Trek,"\n$3,300 USD",11 Days,Moderate,5545 m,Hotel/Guesthouse,March - May & Sept - Dec,1/28/2022,Non-Binary,...,120,Algeria,Intermediate,Clear,5.0,Guide,Poles,Leisure,NaN,4.0
4,4,Everest Base Camp Trek for Seniors,"\n$1,800 USD",20 Days,Moderate,5545 m,Hotel/Guesthouse,March - May & Sept - Dec,10/21/2021,Non-Binary,...,200,Andra,Beginner,Cloudy,6.0,No Guide,NaN,Adventure,Minor Injury,3.5

In [4]:
df.columns

Index(['Unnamed: 0', 'Trek', 'Cost', 'Time', 'Trip Grade', 'Max Altitude',
       'Accomodation', 'Best Travel Time', 'Date of Travel', 'Sex', 'Age',
       'Employment Type', 'GraduateOrNot', 'AnnualIncome', 'FrequentFlyer',
       'Year', 'Regional code', 'Country', 'Fitness Level',
       'Weather Conditions', 'Trekking Group Size', 'Guide/No Guide',
       'Equipment Used', 'Purpose of Travel', 'Health Incidents',
       'Review/Satisfaction'],
      dtype='object')

In [5]:
# removing un-necessary columns
df = df.drop(['Unnamed: 0', 'GraduateOrNot', 'FrequentFlyer', 'Country', 'Regional code', 'Year'], axis=1)

In [6]:
df.columns

Index(['Trek', 'Cost', 'Time', 'Trip Grade', 'Max Altitude', 'Accomodation',
       'Best Travel Time', 'Date of Travel', 'Sex', 'Age', 'Employment Type',
       'AnnualIncome', 'Fitness Level', 'Weather Conditions',
       'Trekking Group Size', 'Guide/No Guide', 'Equipment Used',
       'Purpose of Travel', 'Health Incidents', 'Review/Satisfaction'],
      dtype='object')

In [7]:
df.isnull().sum()

Trek                     0
Cost                     0
Time                     0
Trip Grade               0
Max Altitude             0
Accomodation             0
Best Travel Time         0
Date of Travel           0
Sex                      0
Age                      0
Employment Type          0
AnnualIncome             0
Fitness Level           38
Weather Conditions      38
Trekking Group Size     38
Guide/No Guide          38
Equipment Used         176
Purpose of Travel       38
Health Incidents       245
Review/Satisfaction     38
dtype: int64

In [8]:
df['Trek']=df['Trek'].str.replace('Nepal Trekking and', '')

In [9]:
df['Trek_cleaned'] = df['Trek'].str.strip().str.lower().str.split('trek').str[0].str.title()+ 'Trek'

In [10]:
df.head()

,Trek,Cost,Time,Trip Grade,Max Altitude,Accomodation,Best Travel Time,Date of Travel,Sex,Age,...,AnnualIncome,Fitness Level,Weather Conditions,Trekking Group Size,Guide/No Guide,Equipment Used,Purpose of Travel,Health Incidents,Review/Satisfaction,Trek_cleaned
0,Everest Base Camp Trek,"\n$1,420 USD",16 Days,Moderate,5545 m,Hotel/Guesthouse,March - May & Sept - Dec,9/13/2022,Non-Binary,31,...,400000,Intermediate,Clear,10.0,Guide,Poles,Leisure,NaN,4.5,Everest Base Camp Trek
1,Everest Base Camp Short Trek,"\n$1,295 USD",14 Days,Moderate,5545 m,Hotel/Guesthouse,March - May & Sept - Dec,9/4/2021,Female,31,...,1250000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Everest Base Camp Short Trek
2,Everest Base Camp Heli Shuttle Trek,\n$2000 USD,12 Days,Moderate,5545 m,Hotel/Guesthouse,March - May & Sept - Dec,1/25/2021,Female,34,...,500000,Advanced,Snowy,12.0,Guide,Oxygen,Charity,NaN,5.0,Everest Base Camp Heli Shuttle Trek
3,Everest Base Camp Heli Trek,"\n$3,300 USD",11 Days,Moderate,5545 m,Hotel/Guesthouse,March - May & Sept - Dec,1/28/2022,Non-Binary,28,...,700000,Intermediate,Clear,5.0,Guide,Poles,Leisure,NaN,4.0,Everest Base Camp Heli Trek
4,Everest Base Camp Trek for Seniors,"\n$1,800 USD",20 Days,Moderate,5545 m,Hotel/Guesthouse,March - May & Sept - Dec,10/21/2021,Non-Binary,28,...,700000,Beginner,Cloudy,6.0,No Guide,NaN,Adventure,Minor Injury,3.5,Everest Base Camp Trek

In [11]:
df['Cost_cleaned']= df['Cost'].str.strip().replace({'USD':'',',':''}, regex= True)
df['Cost_cleaned']= df['Cost_cleaned'].str.replace('$', '', regex=False)

In [12]:
df.head()

,Trek,Cost,Time,Trip Grade,Max Altitude,Accomodation,Best Travel Time,Date of Travel,Sex,Age,...,Fitness Level,Weather Conditions,Trekking Group Size,Guide/No Guide,Equipment Used,Purpose of Travel,Health Incidents,Review/Satisfaction,Trek_cleaned,Cost_cleaned
0,Everest Base Camp Trek,"\n$1,420 USD",16 Days,Moderate,5545 m,Hotel/Guesthouse,March - May & Sept - Dec,9/13/2022,Non-Binary,31,...,Intermediate,Clear,10.0,Guide,Poles,Leisure,NaN,4.5,Everest Base Camp Trek,1420
1,Everest Base Camp Short Trek,"\n$1,295 USD",14 Days,Moderate,5545 m,Hotel/Guesthouse,March - May & Sept - Dec,9/4/2021,Female,31,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Everest Base Camp Short Trek,1295
2,Everest Base Camp Heli Shuttle Trek,\n$2000 USD,12 Days,Moderate,5545 m,Hotel/Guesthouse,March - May & Sept - Dec,1/25/2021,Female,34,...,Advanced,Snowy,12.0,Guide,Oxygen,Charity,NaN,5.0,Everest Base Camp Heli Shuttle Trek,2000
3,Everest Base Camp Heli Trek,"\n$3,300 USD",11 Days,Moderate,5545 m,Hotel/Guesthouse,March - May & Sept - Dec,1/28/2022,Non-Binary,28,...,Intermediate,Clear,5.0,Guide,Poles,Leisure,NaN,4.0,Everest Base Camp Heli Trek,3300
4,Everest Base Camp Trek for Seniors,"\n$1,800 USD",20 Days,Moderate,5545 m,Hotel/Guesthouse,March - May & Sept - Dec,10/21/2021,Non-Binary,28,...,Beginner,Cloudy,6.0,No Guide,NaN,Adventure,Minor Injury,3.5,Everest Base Camp Trek,1800

In [13]:
# making the cost int
df['Cost_cleaned'].astype(int)

0      1420
1      1295
2      2000
3      3300
4      1800
       ...
378     450
379    2100
380     590
381     690
382    1190
Name: Cost_cleaned, Length: 383, dtype: int64

In [14]:
df['Cost_cleaned'] = pd.to_numeric(df['Cost_cleaned'], errors='coerce')

In [15]:
# checking if its int 
df['Cost_cleaned'].dtype

dtype('int64')

In [16]:
df['Time'].unique()

array([' 16 Days', ' 14 Days', ' 12 Days', ' 11 Days', ' 20 Days',
       ' 19 Days', ' 22 Days', ' 7 Days', ' 10 Days', ' 9 Days',
       ' 21 Days', ' 8 Days', ' 18 Days', ' 17 Days', ' 5 Days',
       ' 15 Days', ' 18 days', ' 25 Days', ' 27 Days', ' 13 Days',
       '16 Days', '15 Days', '10 Days', '19 Days', '13 Days', '9 Days',
       '17 Days', '11 Days'], dtype=object)

In [17]:
df['Time_cleaned']= df['Time'].str.strip().replace({',':'', 'Days':'','days':''}, regex= True)
df.head()

,Trek,Cost,Time,Trip Grade,Max Altitude,Accomodation,Best Travel Time,Date of Travel,Sex,Age,...,Weather Conditions,Trekking Group Size,Guide/No Guide,Equipment Used,Purpose of Travel,Health Incidents,Review/Satisfaction,Trek_cleaned,Cost_cleaned,Time_cleaned
0,Everest Base Camp Trek,"\n$1,420 USD",16 Days,Moderate,5545 m,Hotel/Guesthouse,March - May & Sept - Dec,9/13/2022,Non-Binary,31,...,Clear,10.0,Guide,Poles,Leisure,NaN,4.5,Everest Base Camp Trek,1420,16
1,Everest Base Camp Short Trek,"\n$1,295 USD",14 Days,Moderate,5545 m,Hotel/Guesthouse,March - May & Sept - Dec,9/4/2021,Female,31,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Everest Base Camp Short Trek,1295,14
2,Everest Base Camp Heli Shuttle Trek,\n$2000 USD,12 Days,Moderate,5545 m,Hotel/Guesthouse,March - May & Sept - Dec,1/25/2021,Female,34,...,Snowy,12.0,Guide,Oxygen,Charity,NaN,5.0,Everest Base Camp Heli Shuttle Trek,2000,12
3,Everest Base Camp Heli Trek,"\n$3,300 USD",11 Days,Moderate,5545 m,Hotel/Guesthouse,March - May & Sept - Dec,1/28/2022,Non-Binary,28,...,Clear,5.0,Guide,Poles,Leisure,NaN,4.0,Everest Base Camp Heli Trek,3300,11
4,Everest Base Camp Trek for Seniors,"\n$1,800 USD",20 Days,Moderate,5545 m,Hotel/Guesthouse,March - May & Sept - Dec,10/21/2021,Non-Binary,28,...,Cloudy,6.0,No Guide,NaN,Adventure,Minor Injury,3.5,Everest Base Camp Trek,1800,20

In [18]:
# ensure that the column contains only numeric values. You can use pd.to_numeric() to coerce non-numeric values to NaN
df['Time_cleaned'] = pd.to_numeric(df['Time_cleaned'], errors='coerce')

In [19]:
df['Time_cleaned'].dtype

dtype('int64')

Trip Grade

In [20]:
df['Trip Grade'].unique()

array(['Moderate', 'Strenuous', 'Easy To Moderate', 'Easy',
       'Moderate+Demanding', 'Demanding', 'Light+Moderate',
       'Demanding+Challenging', 'Light', 'Moderate-Hard', 'Easy-Moderate'],
      dtype=object)

In [21]:
df['Trip_Grade_cleaned']= df['Trip Grade'].str.strip().replace({'Strenuous':'Hard','Easy to Moderate':'Moderate', 'Moderate+Demanding':'Moderate', 'Demanding':'Moderate', 'Light+Moderate':'Moderate', 
                                                               'Easy-Moderate':'Moderate', 'Demanding+Challenging':'Hard', 'Light':'Easy', 'Moderate-Hard':'Hard'}, regex= True)

In [22]:
df['Trip_Grade_cleaned']= df['Trip_Grade_cleaned'].str.strip().replace({'Moderate+Challenging':'Moderate', 'Moderate+Moderate':'Moderate', 'Easy+Moderate':'Moderate', 
                                                                'Easy To Moderate':'Moderate'}, regex= False)

In [23]:
df['Trip_Grade_cleaned'].unique()

array(['Moderate', 'Hard', 'Easy'], dtype=object)

In [24]:
df.head()

,Trek,Cost,Time,Trip Grade,Max Altitude,Accomodation,Best Travel Time,Date of Travel,Sex,Age,...,Trekking Group Size,Guide/No Guide,Equipment Used,Purpose of Travel,Health Incidents,Review/Satisfaction,Trek_cleaned,Cost_cleaned,Time_cleaned,Trip_Grade_cleaned
0,Everest Base Camp Trek,"\n$1,420 USD",16 Days,Moderate,5545 m,Hotel/Guesthouse,March - May & Sept - Dec,9/13/2022,Non-Binary,31,...,10.0,Guide,Poles,Leisure,NaN,4.5,Everest Base Camp Trek,1420,16,Moderate
1,Everest Base Camp Short Trek,"\n$1,295 USD",14 Days,Moderate,5545 m,Hotel/Guesthouse,March - May & Sept - Dec,9/4/2021,Female,31,...,NaN,NaN,NaN,NaN,NaN,NaN,Everest Base Camp Short Trek,1295,14,Moderate
2,Everest Base Camp Heli Shuttle Trek,\n$2000 USD,12 Days,Moderate,5545 m,Hotel/Guesthouse,March - May & Sept - Dec,1/25/2021,Female,34,...,12.0,Guide,Oxygen,Charity,NaN,5.0,Everest Base Camp Heli Shuttle Trek,2000,12,Moderate
3,Everest Base Camp Heli Trek,"\n$3,300 USD",11 Days,Moderate,5545 m,Hotel/Guesthouse,March - May & Sept - Dec,1/28/2022,Non-Binary,28,...,5.0,Guide,Poles,Leisure,NaN,4.0,Everest Base Camp Heli Trek,3300,11,Moderate
4,Everest Base Camp Trek for Seniors,"\n$1,800 USD",20 Days,Moderate,5545 m,Hotel/Guesthouse,March - May & Sept - Dec,10/21/2021,Non-Binary,28,...,6.0,No Guide,NaN,Adventure,Minor Injury,3.5,Everest Base Camp Trek,1800,20,Moderate

In [25]:
df['Trip_Grade_cleaned']=df['Trip_Grade_cleaned'].str.strip()
grade_map= {'Easy':1, 'Moderate':2, 'Hard':3}
df['Trip_Grade_cleaned']=df['Trip_Grade_cleaned'].map(grade_map)

In [26]:
df.head()

,Trek,Cost,Time,Trip Grade,Max Altitude,Accomodation,Best Travel Time,Date of Travel,Sex,Age,...,Trekking Group Size,Guide/No Guide,Equipment Used,Purpose of Travel,Health Incidents,Review/Satisfaction,Trek_cleaned,Cost_cleaned,Time_cleaned,Trip_Grade_cleaned
0,Everest Base Camp Trek,"\n$1,420 USD",16 Days,Moderate,5545 m,Hotel/Guesthouse,March - May & Sept - Dec,9/13/2022,Non-Binary,31,...,10.0,Guide,Poles,Leisure,NaN,4.5,Everest Base Camp Trek,1420,16,2
1,Everest Base Camp Short Trek,"\n$1,295 USD",14 Days,Moderate,5545 m,Hotel/Guesthouse,March - May & Sept - Dec,9/4/2021,Female,31,...,NaN,NaN,NaN,NaN,NaN,NaN,Everest Base Camp Short Trek,1295,14,2
2,Everest Base Camp Heli Shuttle Trek,\n$2000 USD,12 Days,Moderate,5545 m,Hotel/Guesthouse,March - May & Sept - Dec,1/25/2021,Female,34,...,12.0,Guide,Oxygen,Charity,NaN,5.0,Everest Base Camp Heli Shuttle Trek,2000,12,2
3,Everest Base Camp Heli Trek,"\n$3,300 USD",11 Days,Moderate,5545 m,Hotel/Guesthouse,March - May & Sept - Dec,1/28/2022,Non-Binary,28,...,5.0,Guide,Poles,Leisure,NaN,4.0,Everest Base Camp Heli Trek,3300,11,2
4,Everest Base Camp Trek for Seniors,"\n$1,800 USD",20 Days,Moderate,5545 m,Hotel/Guesthouse,March - May & Sept - Dec,10/21/2021,Non-Binary,28,...,6.0,No Guide,NaN,Adventure,Minor Injury,3.5,Everest Base Camp Trek,1800,20,2

In [27]:
df['Trip_Grade_cleaned'].unique()

array([2, 3, 1])

In [28]:
df['Trip_Grade_cleaned'].dtype

dtype('int64')

Max Altitude

In [29]:
df['Max Altitude'].unique()

array(['5545 m', '5360 m', '3900 m', '3860 m', '4210 m', '4230 m',
       '4200 m', '4,200 m', '5416 m', '2012m', '3210 m', '1990 m',
       '5106 m', '5220 m', '5050 m', '4600m', '2607 m', '3650 m',
       '4,130m', '5,545m', '5,416m', '3,870m', '6,340m', '5,357m',
       '3,540m', '5,160m', '5,000m', '3,055m', '5,546m', '5,143m',
       '6,000m', '1,730m', '4,870m', '5,320m', '4,460m', '4,500m',
       '3,210m', '5,122m', '1,550m', '3,860m', '4200m', '4,773m',
       '5,220m'], dtype=object)

In [30]:
df['Max_Altitude_cleaned']= df['Max Altitude'].str.strip()

In [31]:
df['Max_Altitude_cleaned']= df['Max_Altitude_cleaned'].replace({'m':'', ',':''}, regex= True)

In [32]:
# Split the string and take the first part (before the space)
df['Max_Altitude_cleaned'] = df['Max_Altitude_cleaned'].str.split(' ').str[0]

In [33]:
df['Max_Altitude_cleaned'].dtype

dtype('O')

In [34]:
df['Max_Altitude_cleaned'] = pd.to_numeric(df['Max_Altitude_cleaned'], errors='coerce')

# Check if there are still any non-convertible values
print(df['Max_Altitude_cleaned'].isna().sum())  # This shows how many NaN values there are

0

In [35]:
df['Max_Altitude_cleaned']=df['Max_Altitude_cleaned'].astype(int)

In [36]:
df['Max_Altitude_cleaned'].dtype

dtype('int64')

Accomodation

In [37]:
df['Accomodation/Hotel_type']=df['Accomodation'].str.strip().replace('Hotel/', '', regex=True)

In [38]:
df.head()

,Trek,Cost,Time,Trip Grade,Max Altitude,Accomodation,Best Travel Time,Date of Travel,Sex,Age,...,Equipment Used,Purpose of Travel,Health Incidents,Review/Satisfaction,Trek_cleaned,Cost_cleaned,Time_cleaned,Trip_Grade_cleaned,Max_Altitude_cleaned,Accomodation/Hotel_type
0,Everest Base Camp Trek,"\n$1,420 USD",16 Days,Moderate,5545 m,Hotel/Guesthouse,March - May & Sept - Dec,9/13/2022,Non-Binary,31,...,Poles,Leisure,NaN,4.5,Everest Base Camp Trek,1420,16,2,5545,Guesthouse
1,Everest Base Camp Short Trek,"\n$1,295 USD",14 Days,Moderate,5545 m,Hotel/Guesthouse,March - May & Sept - Dec,9/4/2021,Female,31,...,NaN,NaN,NaN,NaN,Everest Base Camp Short Trek,1295,14,2,5545,Guesthouse
2,Everest Base Camp Heli Shuttle Trek,\n$2000 USD,12 Days,Moderate,5545 m,Hotel/Guesthouse,March - May & Sept - Dec,1/25/2021,Female,34,...,Oxygen,Charity,NaN,5.0,Everest Base Camp Heli Shuttle Trek,2000,12,2,5545,Guesthouse
3,Everest Base Camp Heli Trek,"\n$3,300 USD",11 Days,Moderate,5545 m,Hotel/Guesthouse,March - May & Sept - Dec,1/28/2022,Non-Binary,28,...,Poles,Leisure,NaN,4.0,Everest Base Camp Heli Trek,3300,11,2,5545,Guesthouse
4,Everest Base Camp Trek for Seniors,"\n$1,800 USD",20 Days,Moderate,5545 m,Hotel/Guesthouse,March - May & Sept - Dec,10/21/2021,Non-Binary,28,...,NaN,Adventure,Minor Injury,3.5,Everest Base Camp Trek,1800,20,2,5545,Guesthouse

In [39]:
df['Accomodation/Hotel_type']=df['Accomodation/Hotel_type'].str.strip().replace({'Guest Houses':'Guesthouse', 'Teahouse/Lodge':'Lodge', 'Guesthouses':'Guesthouse', 'Luxury Lodges':'Lodge', 'Lodges':'Lodge', 'Teahouses/Lodges':'Lodge', 'Teahouses':'Teahouse'}, regex=True)

In [40]:
df['Accomodation/Hotel_type'].unique()

array(['Guesthouse', 'Teahouse', 'Lodge', 'Teahouse/Lodge'], dtype=object)

In [41]:
df['Accomodation/Hotel_type']= df['Accomodation/Hotel_type'].astype(str)

In [42]:
df['Accomodation/Hotel_type'].dtype

dtype('O')

Best time travel 1

In [43]:
df['Best_travel_time_1']= df['Best Travel Time'].str.strip().str.lower().str.split('&').str[0].str.title()

In [44]:
null_count1 = df['Best_travel_time_1'].isnull().sum()
print(f"Number of null values in 'Best_travel_time_1': {null_count1}")

Number of null values in 'Best_travel_time_1': 0

In [45]:
print(df['Best_travel_time_1'])

0      March - May
1      March - May
2      March - May
3      March - May
4      March - May
           ...
378      Jan - May
379      Jan - May
380      Jan - May
381      Jan - May
382      Jan - May
Name: Best_travel_time_1, Length: 383, dtype: object

Best time travel 2

In [46]:
df['Best_travel_time_2']= df['Best Travel Time'].str.strip().str.lower().str.split('&').str[1].str.title()

In [47]:
null_count2 = df['Best_travel_time_2'].isnull().sum()
print(f"Number of null values in 'Best_travel_time_2': {null_count2}")

Number of null values in 'Best_travel_time_2': 5

In [48]:
# Print the rows where 'Best_travel_time_2' is null
print(df[df['Best_travel_time_2'].isnull()])

                             Trek              Cost      Time  \
30   Upper Mustang Trek with Yara  \n$2,300     USD   18 Days
104  Upper Mustang Trek with Yara   \n$2,300    USD   18 Days
178  Upper Mustang Trek with Yara    \n$2,300   USD   18 Days
252  Upper Mustang Trek with Yara     \n$2,300  USD   18 Days
326  Upper Mustang Trek with Yara      \n$2,300 USD   18 Days

           Trip Grade Max Altitude  Accomodation Best Travel Time  \
30   Easy To Moderate       4200 m  Hotel/Lodges      March - Nov
104  Easy To Moderate       4200 m  Hotel/Lodges      March - Nov
178  Easy To Moderate       4200 m  Hotel/Lodges      March - Nov
252  Easy To Moderate       4200 m  Hotel/Lodges      March - Nov
326  Easy To Moderate       4200 m  Hotel/Lodges      March - Nov

    Date of Travel          Sex  Age  ...   Health Incidents  \
30       7/23/2022  Transgender   30  ...                NaN
104      2/29/2020       Female   28  ...       Minor Injury
178      9/12/2022         Male   32  ...                NaN
252      3/17/2023  Transgender   29  ...                NaN
326       2/1/2020   Non-Binary   28  ...  Altitude Sickness

     Review/Satisfaction        Trek_cleaned Cost_cleaned  Time_cleaned  \
30                   4.5  Upper Mustang Trek         2300            18
104                  3.5  Upper Mustang Trek         2300            18
178                  4.0  Upper Mustang Trek         2300            18
252                  5.0  Upper Mustang Trek         2300            18
326                  3.0  Upper Mustang Trek         2300            18

    Trip_Grade_cleaned Max_Altitude_cleaned Accomodation/Hotel_type  \
30                   2                 4200                   Lodge
104                  2                 4200                   Lodge
178                  2                 4200                   Lodge
252                  2                 4200                   Lodge
326                  2                 4200                   Lodge

    Best_travel_time_1  Best_travel_time_2
30         March - Nov                 NaN
104        March - Nov                 NaN
178        March - Nov                 NaN
252        March - Nov                 NaN
326        March - Nov                 NaN

[5 rows x 28 columns]

In [49]:
# filling the null values with the df_cleanedginal column data
# Replace null values in 'Best_travel_time_2' with values from 'Best Travel Time'
df['Best_travel_time_2'] = df['Best_travel_time_2'].fillna(df['Best Travel Time'])

In [50]:
null_count2 = df['Best_travel_time_2'].isnull().sum()
print(f"Number of null values in 'Best_travel_time_2': {null_count2}")

Number of null values in 'Best_travel_time_2': 0

TRAVEL DATE

In [51]:
# Convert 'date_of_travel' column to datetime format
df['travel_date'] = pd.to_datetime(df['Date of Travel'], errors='coerce')

In [52]:
print(df['travel_date'].dtype)

datetime64[ns]

EMPLOYMENT TYPE

In [53]:
df['Employment Type'].unique()

array(['Government Sector', 'Private Sector/Self Employed'], dtype=object)

In [54]:
df['Employment_type']= df['Employment Type'].str.replace('/Self Employed', '', regex= False)

In [55]:
df['Employment_type'].unique()

array(['Government Sector', 'Private Sector'], dtype=object)

Travel year

In [56]:
df['year']= df['travel_date'].dt.year

In [57]:
df.head()

,Trek,Cost,Time,Trip Grade,Max Altitude,Accomodation,Best Travel Time,Date of Travel,Sex,Age,...,Cost_cleaned,Time_cleaned,Trip_Grade_cleaned,Max_Altitude_cleaned,Accomodation/Hotel_type,Best_travel_time_1,Best_travel_time_2,travel_date,Employment_type,year
0,Everest Base Camp Trek,"\n$1,420 USD",16 Days,Moderate,5545 m,Hotel/Guesthouse,March - May & Sept - Dec,9/13/2022,Non-Binary,31,...,1420,16,2,5545,Guesthouse,March - May,Sept - Dec,2022-09-13,Government Sector,2022
1,Everest Base Camp Short Trek,"\n$1,295 USD",14 Days,Moderate,5545 m,Hotel/Guesthouse,March - May & Sept - Dec,9/4/2021,Female,31,...,1295,14,2,5545,Guesthouse,March - May,Sept - Dec,2021-09-04,Private Sector,2021
2,Everest Base Camp Heli Shuttle Trek,\n$2000 USD,12 Days,Moderate,5545 m,Hotel/Guesthouse,March - May & Sept - Dec,1/25/2021,Female,34,...,2000,12,2,5545,Guesthouse,March - May,Sept - Dec,2021-01-25,Private Sector,2021
3,Everest Base Camp Heli Trek,"\n$3,300 USD",11 Days,Moderate,5545 m,Hotel/Guesthouse,March - May & Sept - Dec,1/28/2022,Non-Binary,28,...,3300,11,2,5545,Guesthouse,March - May,Sept - Dec,2022-01-28,Private Sector,2022
4,Everest Base Camp Trek for Seniors,"\n$1,800 USD",20 Days,Moderate,5545 m,Hotel/Guesthouse,March - May & Sept - Dec,10/21/2021,Non-Binary,28,...,1800,20,2,5545,Guesthouse,March - May,Sept - Dec,2021-10-21,Private Sector,2021

Fitness Level

In [58]:
df['Fitness Level'].unique()

array(['Intermediate', nan, 'Advanced', 'Beginner'], dtype=object)

In [59]:
df['fitness_level_cleaned']= df['Fitness Level'].fillna('Beginner')

In [60]:
df['fitness_level_cleaned'].unique()

array(['Intermediate', 'Beginner', 'Advanced'], dtype=object)

In [61]:
fitness={'Beginner':1, 'Intermediate':2, 'Advanced':3}
df['fitness_level_cleaned']=df['fitness_level_cleaned'].map(fitness)

In [62]:
df['fitness_level_cleaned'].unique()

array([2, 1, 3])

In [63]:
df['fitness_level_cleaned'].dtype

dtype('int64')

Trekking Group size

In [64]:
def calculate_mean_without_outliers(df, column_name):

    # Step 1: Calculate the IQR to find outliers
    Q1 = df[column_name].quantile(0.25)
    Q3 = df[column_name].quantile(0.75)
    IQR = Q3 - Q1

    # Define the lower and upper bounds for outliers
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR

    # Step 2: Filter out outliers
    filtered_df = df[(df[column_name] >= lower_bound) & (df[column_name] <= upper_bound)]

    # Step 3: Calculate the mean without outliers
    mean_without_outliers = filtered_df[column_name].mean()

    return mean_without_outliers

In [65]:
# Step 4: Using the function to get the mean without outliers
mean_without_outliers = calculate_mean_without_outliers(df, 'Trekking Group Size')

In [66]:
df['trekkig_group_size']= df['Trekking Group Size'].fillna(mean_without_outliers)

In [67]:
df['trekkig_group_size'].dtype

dtype('float64')

In [68]:
df['trekkig_group_size']=df['trekkig_group_size'].astype(int)

In [69]:
df['trekkig_group_size'].dtype

dtype('int64')

Guide/ No guide

In [70]:
df['Guide/No Guide'].unique()

array(['Guide', nan, 'No Guide'], dtype=object)

In [71]:
df['Guide_or_no_guide']= df['Guide/No Guide'].fillna('No Guide')

In [72]:
df['Guide_or_no_guide'].unique()

array(['Guide', 'No Guide'], dtype=object)

In [73]:
df['Guide_or_no_guide'].dtype

dtype('O')

In [74]:
df['Guide_or_no_guide']=df['Guide_or_no_guide'].astype(str)
print(df['Guide_or_no_guide'].dtype)

object

In Pandas, the object data type is how strings are stored internally. So, when you change a column to str using .astype(str), the underlying data type will still be shown as object. This is because object is the general dtype used for stdf_cleanedng strings, and there's no specific str dtype in Pandas.

In [75]:
df.head()

,Trek,Cost,Time,Trip Grade,Max Altitude,Accomodation,Best Travel Time,Date of Travel,Sex,Age,...,Max_Altitude_cleaned,Accomodation/Hotel_type,Best_travel_time_1,Best_travel_time_2,travel_date,Employment_type,year,fitness_level_cleaned,trekkig_group_size,Guide_or_no_guide
0,Everest Base Camp Trek,"\n$1,420 USD",16 Days,Moderate,5545 m,Hotel/Guesthouse,March - May & Sept - Dec,9/13/2022,Non-Binary,31,...,5545,Guesthouse,March - May,Sept - Dec,2022-09-13,Government Sector,2022,2,10,Guide
1,Everest Base Camp Short Trek,"\n$1,295 USD",14 Days,Moderate,5545 m,Hotel/Guesthouse,March - May & Sept - Dec,9/4/2021,Female,31,...,5545,Guesthouse,March - May,Sept - Dec,2021-09-04,Private Sector,2021,1,8,No Guide
2,Everest Base Camp Heli Shuttle Trek,\n$2000 USD,12 Days,Moderate,5545 m,Hotel/Guesthouse,March - May & Sept - Dec,1/25/2021,Female,34,...,5545,Guesthouse,March - May,Sept - Dec,2021-01-25,Private Sector,2021,3,12,Guide
3,Everest Base Camp Heli Trek,"\n$3,300 USD",11 Days,Moderate,5545 m,Hotel/Guesthouse,March - May & Sept - Dec,1/28/2022,Non-Binary,28,...,5545,Guesthouse,March - May,Sept - Dec,2022-01-28,Private Sector,2022,2,5,Guide
4,Everest Base Camp Trek for Seniors,"\n$1,800 USD",20 Days,Moderate,5545 m,Hotel/Guesthouse,March - May & Sept - Dec,10/21/2021,Non-Binary,28,...,5545,Guesthouse,March - May,Sept - Dec,2021-10-21,Private Sector,2021,1,6,No Guide

Equipment Used

In [76]:
df['Equipment Used'].unique()

array(['Poles', nan, 'Oxygen'], dtype=object)

In [77]:
df['Equipment_used']= df['Equipment Used'].fillna('No')

In [78]:
df['Equipment_used'].unique()

array(['Poles', 'No', 'Oxygen'], dtype=object)

Purpose of travel

In [79]:
df['Purpose of Travel'].unique()

array(['Leisure', nan, 'Charity', 'Adventure'], dtype=object)

In [80]:
df['Purpose of Travel'].value_counts()

Purpose of Travel
Adventure    138
Leisure      134
Charity       73
Name: count, dtype: int64

Since the majdf_cleanedty are Adventure, we will fill the null values with the majdf_cleanedty value

In [81]:
df['Purpose_of_travel']= df['Purpose of Travel'].fillna('Adventure')

In [82]:
df['Purpose_of_travel'].unique()

array(['Leisure', 'Adventure', 'Charity'], dtype=object)

Health Incidents

In [83]:
df['Health Incidents'].unique()

array([nan, 'Minor Injury', 'Altitude Sickness'], dtype=object)

In [84]:
df['Health_incidents']= df['Health Incidents'].fillna('No')

In [85]:
df['Health_incidents'].unique()

array(['No', 'Minor Injury', 'Altitude Sickness'], dtype=object)

Review/ Satisfaction

In [86]:
 df['Review/Satisfaction'].unique()

array([4.5, nan, 5. , 4. , 3.5, 3. ])

In [87]:
df['Rating']= df['Review/Satisfaction'].fillna(df['Review/Satisfaction'].mean())

In [88]:
 df['Rating'].unique()

array([4.5       , 4.01014493, 5.        , 4.        , 3.5       ,
       3.        ])

In [89]:
df['Rating']=df['Rating'].round(1)

In [90]:
 df['Rating'].unique()

array([4.5, 4. , 5. , 3.5, 3. ])

In [91]:
df['Rating'].dtype

dtype('float64')

In [92]:
df.columns

Index(['Trek', 'Cost', 'Time', 'Trip Grade', 'Max Altitude', 'Accomodation',
       'Best Travel Time', 'Date of Travel', 'Sex', 'Age', 'Employment Type',
       'AnnualIncome', 'Fitness Level', 'Weather Conditions',
       'Trekking Group Size', 'Guide/No Guide', 'Equipment Used',
       'Purpose of Travel', 'Health Incidents', 'Review/Satisfaction',
       'Trek_cleaned', 'Cost_cleaned', 'Time_cleaned', 'Trip_Grade_cleaned',
       'Max_Altitude_cleaned', 'Accomodation/Hotel_type', 'Best_travel_time_1',
       'Best_travel_time_2', 'travel_date', 'Employment_type', 'year',
       'fitness_level_cleaned', 'trekkig_group_size', 'Guide_or_no_guide',
       'Equipment_used', 'Purpose_of_travel', 'Health_incidents', 'Rating'],
      dtype='object')

EXTRACTING ALL CLEANED COLUMNS INTO A NEW DF AND SAVING THEM IN CSV

In [93]:
df_cleaned= df[['Trek_cleaned', 'Cost_cleaned', 'Time_cleaned', 'Trip_Grade_cleaned', 'Weather Conditions',
                'Max_Altitude_cleaned','Accomodation/Hotel_type', 'Best_travel_time_1', 'Best_travel_time_2',
                'travel_date', 'Employment_type', 'year', 'fitness_level_cleaned',
                'trekkig_group_size', 'Guide_or_no_guide', 'Equipment_used',
                'Purpose_of_travel', 'Health_incidents', 'Rating','Sex', 'Age']]

In [94]:
df_cleaned.head()

,Trek_cleaned,Cost_cleaned,Time_cleaned,Trip_Grade_cleaned,Weather Conditions,Max_Altitude_cleaned,Accomodation/Hotel_type,Best_travel_time_1,Best_travel_time_2,travel_date,...,year,fitness_level_cleaned,trekkig_group_size,Guide_or_no_guide,Equipment_used,Purpose_of_travel,Health_incidents,Rating,Sex,Age
0,Everest Base Camp Trek,1420,16,2,Clear,5545,Guesthouse,March - May,Sept - Dec,2022-09-13,...,2022,2,10,Guide,Poles,Leisure,No,4.5,Non-Binary,31
1,Everest Base Camp Short Trek,1295,14,2,NaN,5545,Guesthouse,March - May,Sept - Dec,2021-09-04,...,2021,1,8,No Guide,No,Adventure,No,4.0,Female,31
2,Everest Base Camp Heli Shuttle Trek,2000,12,2,Snowy,5545,Guesthouse,March - May,Sept - Dec,2021-01-25,...,2021,3,12,Guide,Oxygen,Charity,No,5.0,Female,34
3,Everest Base Camp Heli Trek,3300,11,2,Clear,5545,Guesthouse,March - May,Sept - Dec,2022-01-28,...,2022,2,5,Guide,Poles,Leisure,No,4.0,Non-Binary,28
4,Everest Base Camp Trek,1800,20,2,Cloudy,5545,Guesthouse,March - May,Sept - Dec,2021-10-21,...,2021,1,6,No Guide,No,Adventure,Minor Injury,3.5,Non-Binary,28

In [95]:
df_cleaned.isnull().sum()

Trek_cleaned                0
Cost_cleaned                0
Time_cleaned                0
Trip_Grade_cleaned          0
Weather Conditions         38
Max_Altitude_cleaned        0
Accomodation/Hotel_type     0
Best_travel_time_1          0
Best_travel_time_2          0
travel_date                 0
Employment_type             0
year                        0
fitness_level_cleaned       0
trekkig_group_size          0
Guide_or_no_guide           0
Equipment_used              0
Purpose_of_travel           0
Health_incidents            0
Rating                      0
Sex                         0
Age                         0
dtype: int64

ADDING DISTRICT OF THE TRAVEL DESTINATION INTO THE DF

In [96]:
df_cleaned['Trek_cleaned'].unique()

array(['Everest Base Camp Trek', 'Everest Base Camp Short Trek',
       'Everest Base Camp Heli Shuttle Trek',
       'Everest Base Camp Heli Trek', 'Everest Chola Pass Trek',
       'Gokyo Lake Renjo La Pass Trek', 'Everest High Passes Trek',
       'Short Everest Trek', 'Everest Panorama Trek', 'Everest View Trek',
       'Luxury Everest Base Camp Heli Trek', 'Annapurna Base Camp Trek',
       'Annapurna Base Camp Short Trek',
       'Instant Annapurna Base Camp Trek',
       'Annapurna Base Camp Heli Trek', 'Mardi Himal Trek',
       'Classic Annapurna Circuit Trek', 'Annapurna Circuit Trek',
       'Annapurna Circuit Short Trek', 'Annapurna Luxury Trek',
       'Annapurna Panorama Trek', 'Annapurna Tilicho Lake Trek',
       'Short Annapurna Trek', 'Manaslu Circuit Trek',
       'Tsum Valley With Manaslu Trek', 'Upper Mustang Trek',
       'Upper Mustang Tiji Festival Trek', 'Langtang Valley Trek',
       'Langtang Gosaikunda Trek', 'Tamang Heritage Trek',
       'Tamang Heritage TrailTrek', 'Helambu Trek',
       'Everest Base Camp Luxury Lodge Trek',
       'Everest Advanced Base Camp Trek', 'Gokyo Lakes And Gokyo Ri Trek',
       'Annapurna Sanctuary Trek', 'Rara Lake Trek',
       'Kanchenjunga Circuit Trek', 'Tsum Valley Trek', 'The Royal Trek',
       'Makalu Base Camp Trek', 'Langtang, Gosainkunda And Helambu Trek',
       'Nar Phu Valley Trek', 'Annapurna Circle Trek',
       'Everest Kangshung Face Trek', 'Tsum Valley And Manaslu Trek',
       'Khopra Ridge Community Trek', 'Nepal Experience TourTrek',
       'Annapurna With Tilicho Lake Trek', 'Manaslu And Annapurna Trek',
       'Everest Himalaya Heli TourTrek',
       'Nepal Hiking And Culture TourTrek',
       'Annapurna Sunrise And Everest View Trek',
       'Tenzing Hillary Everest MarathonTrek', 'Everest Kalapathar Trek',
       'Gokyo Lake Trek', 'Ghorepani Poon Hill Trek'], dtype=object)

In [97]:
# Trail trek, Tour trek, marathon trek spacing
df_cleaned.loc[:, 'Trek_cleaned'] = df_cleaned['Trek_cleaned'].str.replace('TourTrek', 'Tour Trek')
df_cleaned.loc[:, 'Trek_cleaned'] = df_cleaned['Trek_cleaned'].str.replace('TrailTrek', 'Trail Trek')
df_cleaned.loc[:, 'Trek_cleaned'] = df_cleaned['Trek_cleaned'].str.replace('MarathonTrek', 'Marathon Trek')

In [98]:
trek_to_district = {
    'Everest Base Camp Trek': 'Solukhumbu District',
    'Everest Base Camp Short Trek': 'Solukhumbu District',
    'Everest Base Camp Heli Shuttle Trek': 'Solukhumbu District',
    'Everest Base Camp Heli Trek': 'Solukhumbu District',
    'Everest Chola Pass Trek': 'Solukhumbu District',
    'Gokyo Lake Renjo La Pass Trek': 'Solukhumbu District',
    'Everest High Passes Trek': 'Solukhumbu District',
    'Short Everest Trek': 'Solukhumbu District',
    'Everest Panorama Trek': 'Solukhumbu District',
    'Everest View Trek': 'Solukhumbu District',
    'Luxury Everest Base Camp Heli Trek': 'Solukhumbu District',
    'Annapurna Base Camp Trek': 'Kaski District',
    'Annapurna Base Camp Short Trek': 'Kaski District',
    'Instant Annapurna Base Camp Trek': 'Kaski District',
    'Annapurna Base Camp Heli Trek': 'Kaski District',
    'Mardi Himal Trek': 'Kaski District',
    'Classic Annapurna Circuit Trek': 'Manang District',
    'Annapurna Circuit Trek': 'Manang District',
    'Annapurna Circuit Short Trek': 'Manang District',
    'Annapurna Luxury Trek': 'Kaski District',
    'Annapurna Panorama Trek': 'Kaski District',
    'Annapurna Tilicho Lake Trek': 'Manang District',
    'Short Annapurna Trek': 'Kaski District',
    'Manaslu Circuit Trek': 'Gorkha District',
    'Tsum Valley With Manaslu Trek': 'Gorkha District',
    'Upper Mustang Trek': 'Mustang District',
    'Upper Mustang Tiji Festival Trek': 'Mustang District',
    'Langtang Valley Trek': 'Rasuwa District',
    'Langtang Gosaikunda Trek': 'Rasuwa District',
    'Tamang Heritage Trek': 'Rasuwa District',
    'Tamang Heritage Trail Trek': 'Rasuwa District',
    'Helambu Trek': 'Sindhupalchok District',
    'Everest Base Camp Luxury Lodge Trek': 'Solukhumbu District',
    'Everest Advanced Base Camp Trek': 'Solukhumbu District',
    'Gokyo Lakes And Gokyo Ri Trek': 'Solukhumbu District',
    'Annapurna Sanctuary Trek': 'Kaski District',
    'Rara Lake Trek': 'Mugu District',
    'Kanchenjunga Circuit Trek': 'Taplejung District',
    'Tsum Valley Trek': 'Gorkha District',
    'The Royal Trek': 'Kaski District',
    'Makalu Base Camp Trek': 'Makalu District',
    'Langtang, Gosainkunda And Helambu Trek': 'Rasuwa District',
    'Nar Phu Valley Trek': 'Manang District',
    'Annapurna Circle Trek': 'Manang District',
    'Everest Kangshung Face Trek': 'Solukhumbu District',
    'Tsum Valley And Manaslu Trek': 'Gorkha District',
    'Khopra Ridge Community Trek': 'Kaski District',
    'Nepal Experience Tour Trek': 'Various',
    'Annapurna With Tilicho Lake Trek': 'Manang District',
    'Nepal Hiking And Culture Tour Trek': 'Various',
    'Annapurna Sunrise And Everest View Trek': 'Kaski District',
    'Tenzing Hillary Everest Marathon Trek': 'Solukhumbu District',
    'Everest Kalapathar Trek': 'Solukhumbu District',
    'Gokyo Lake Trek': 'Solukhumbu District',
    'Ghorepani Poon Hill Trek': 'Myagdi District',
    'Manaslu And Annapurna Trek': 'Gorkha District',
    'Everest Himalaya Heli Tour Trek': 'Solukhumbu '
}

In [99]:
df_cleaned.loc[:, 'District'] = df_cleaned['Trek_cleaned'].map(trek_to_district)

C:\Users\hp\AppData\Local\Temp\ipykernel_8776\3802068315.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned.loc[:, 'District'] = df_cleaned['Trek_cleaned'].map(trek_to_district)

In [100]:
df_cleaned['District'].unique()

array(['Solukhumbu District', 'Kaski District', 'Manang District',
       'Gorkha District', 'Mustang District', 'Rasuwa District',
       'Sindhupalchok District', 'Mugu District', 'Taplejung District',
       'Makalu District', 'Various', 'Solukhumbu ', 'Myagdi District'],
      dtype=object)

In [101]:
df_cleaned['Weather Conditions'].unique()

array(['Clear', nan, 'Snowy', 'Cloudy', 'Rainy'], dtype=object)

In [102]:
df_cleaned.loc[:, 'District'] = df_cleaned['District'].str.replace('District', '')
df_cleaned.loc[:, 'District'] = df_cleaned['District'].str.replace('Various', 'Kathmandu')

In [103]:
df_cleaned['District'].unique()

array(['Solukhumbu ', 'Kaski ', 'Manang ', 'Gorkha ', 'Mustang ',
       'Rasuwa ', 'Sindhupalchok ', 'Mugu ', 'Taplejung ', 'Makalu ',
       'Kathmandu', 'Myagdi '], dtype=object)

In [104]:
# Check for NaN values in the district column
print(df_cleaned[df_cleaned['District'].isna()][['Trek_cleaned']])

Empty DataFrame
Columns: [Trek_cleaned]
Index: []

In [105]:
df_cleaned.head()

,Trek_cleaned,Cost_cleaned,Time_cleaned,Trip_Grade_cleaned,Weather Conditions,Max_Altitude_cleaned,Accomodation/Hotel_type,Best_travel_time_1,Best_travel_time_2,travel_date,...,fitness_level_cleaned,trekkig_group_size,Guide_or_no_guide,Equipment_used,Purpose_of_travel,Health_incidents,Rating,Sex,Age,District
0,Everest Base Camp Trek,1420,16,2,Clear,5545,Guesthouse,March - May,Sept - Dec,2022-09-13,...,2,10,Guide,Poles,Leisure,No,4.5,Non-Binary,31,Solukhumbu
1,Everest Base Camp Short Trek,1295,14,2,NaN,5545,Guesthouse,March - May,Sept - Dec,2021-09-04,...,1,8,No Guide,No,Adventure,No,4.0,Female,31,Solukhumbu
2,Everest Base Camp Heli Shuttle Trek,2000,12,2,Snowy,5545,Guesthouse,March - May,Sept - Dec,2021-01-25,...,3,12,Guide,Oxygen,Charity,No,5.0,Female,34,Solukhumbu
3,Everest Base Camp Heli Trek,3300,11,2,Clear,5545,Guesthouse,March - May,Sept - Dec,2022-01-28,...,2,5,Guide,Poles,Leisure,No,4.0,Non-Binary,28,Solukhumbu
4,Everest Base Camp Trek,1800,20,2,Cloudy,5545,Guesthouse,March - May,Sept - Dec,2021-10-21,...,1,6,No Guide,No,Adventure,Minor Injury,3.5,Non-Binary,28,Solukhumbu

WEATHER

In [106]:
weather= pd.read_csv('Weather_Dataset.csv')
weather.head()

   Unnamed: 0        Date      DISTRICT Weather Condition
0           0  2020-01-01  Arghakhanchi             Clear
1           1  2020-01-02  Arghakhanchi             Clear
2           2  2020-01-03  Arghakhanchi             Clear
3           3  2020-01-04  Arghakhanchi             Clear
4           4  2020-01-05  Arghakhanchi             Clear

In [107]:
# Ensure both datasets have their date columns in datetime format
df_cleaned['travel_date'] = pd.to_datetime(df_cleaned['travel_date'], errors='coerce')  # Ensure df's date is correct
weather['Date'] = pd.to_datetime(weather['Date'], errors='coerce')  # Ensure weather's date is correct

# Extract Month and Day from both datasets
df_cleaned['Month'] = df_cleaned['travel_date'].dt.month
df_cleaned['Day'] = df_cleaned['travel_date'].dt.day

weather['Month'] = weather['Date'].dt.month
weather['Day'] = weather['Date'].dt.day

C:\Users\hp\AppData\Local\Temp\ipykernel_8776\461922305.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['travel_date'] = pd.to_datetime(df_cleaned['travel_date'], errors='coerce')  # Ensure df's date is correct
C:\Users\hp\AppData\Local\Temp\ipykernel_8776\461922305.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Month'] = df_cleaned['travel_date'].dt.month
C:\Users\hp\AppData\Local\Temp\ipykernel_8776\461922305.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['Day'] = df_cleaned['travel_date'].dt.day

In [108]:
# Renaming the column
weather.rename(columns={'Weather Condition': 'Weather Conditions'}, inplace=True)

In [109]:
# Check and print column names in both datasets to confirm
print(df_cleaned.columns)
print(weather.columns)

Index(['Trek_cleaned', 'Cost_cleaned', 'Time_cleaned', 'Trip_Grade_cleaned',
       'Weather Conditions', 'Max_Altitude_cleaned', 'Accomodation/Hotel_type',
       'Best_travel_time_1', 'Best_travel_time_2', 'travel_date',
       'Employment_type', 'year', 'fitness_level_cleaned',
       'trekkig_group_size', 'Guide_or_no_guide', 'Equipment_used',
       'Purpose_of_travel', 'Health_incidents', 'Rating', 'Sex', 'Age',
       'District', 'Month', 'Day'],
      dtype='object')
Index(['Unnamed: 0', 'Date', 'DISTRICT', 'Weather Conditions', 'Month', 'Day'], dtype='object')

In [110]:
df_cleaned['DISTRICT'] = df_cleaned['District'].str.strip()
weather['DISTRICT'] = weather['DISTRICT'].str.strip()
df_cleaned.columns

C:\Users\hp\AppData\Local\Temp\ipykernel_8776\596963567.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned['DISTRICT'] = df_cleaned['District'].str.strip()

Index(['Trek_cleaned', 'Cost_cleaned', 'Time_cleaned', 'Trip_Grade_cleaned',
       'Weather Conditions', 'Max_Altitude_cleaned', 'Accomodation/Hotel_type',
       'Best_travel_time_1', 'Best_travel_time_2', 'travel_date',
       'Employment_type', 'year', 'fitness_level_cleaned',
       'trekkig_group_size', 'Guide_or_no_guide', 'Equipment_used',
       'Purpose_of_travel', 'Health_incidents', 'Rating', 'Sex', 'Age',
       'District', 'Month', 'Day', 'DISTRICT'],
      dtype='object')

In [111]:
df_cleaned.drop('District', axis=1, inplace=True)

C:\Users\hp\AppData\Local\Temp\ipykernel_8776\1553788976.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cleaned.drop('District', axis=1, inplace=True)

In [112]:
# Perform a left join to match rows based on 'DISTRICT', 'Month', and 'Day'
merged_df = pd.merge(df_cleaned, weather[['DISTRICT', 'Month', 'Day', 'Weather Conditions']], 
                     on=['DISTRICT', 'Month', 'Day'], 
                     how='left', 
                     suffixes=('', '_weather'))

In [113]:
merged_df.head()

,Trek_cleaned,Cost_cleaned,Time_cleaned,Trip_Grade_cleaned,Weather Conditions,Max_Altitude_cleaned,Accomodation/Hotel_type,Best_travel_time_1,Best_travel_time_2,travel_date,...,Equipment_used,Purpose_of_travel,Health_incidents,Rating,Sex,Age,Month,Day,DISTRICT,Weather Conditions_weather
0,Everest Base Camp Trek,1420,16,2,Clear,5545,Guesthouse,March - May,Sept - Dec,2022-09-13,...,Poles,Leisure,No,4.5,Non-Binary,31,9,13,Solukhumbu,Cloudy
1,Everest Base Camp Short Trek,1295,14,2,NaN,5545,Guesthouse,March - May,Sept - Dec,2021-09-04,...,No,Adventure,No,4.0,Female,31,9,4,Solukhumbu,Cloudy
2,Everest Base Camp Heli Shuttle Trek,2000,12,2,Snowy,5545,Guesthouse,March - May,Sept - Dec,2021-01-25,...,Oxygen,Charity,No,5.0,Female,34,1,25,Solukhumbu,Cloudy
3,Everest Base Camp Heli Trek,3300,11,2,Clear,5545,Guesthouse,March - May,Sept - Dec,2022-01-28,...,Poles,Leisure,No,4.0,Non-Binary,28,1,28,Solukhumbu,Cloudy
4,Everest Base Camp Trek,1800,20,2,Cloudy,5545,Guesthouse,March - May,Sept - Dec,2021-10-21,...,No,Adventure,Minor Injury,3.5,Non-Binary,28,10,21,Solukhumbu,Cloudy

In [114]:
merged_df.columns

Index(['Trek_cleaned', 'Cost_cleaned', 'Time_cleaned', 'Trip_Grade_cleaned',
       'Weather Conditions', 'Max_Altitude_cleaned', 'Accomodation/Hotel_type',
       'Best_travel_time_1', 'Best_travel_time_2', 'travel_date',
       'Employment_type', 'year', 'fitness_level_cleaned',
       'trekkig_group_size', 'Guide_or_no_guide', 'Equipment_used',
       'Purpose_of_travel', 'Health_incidents', 'Rating', 'Sex', 'Age',
       'Month', 'Day', 'DISTRICT', 'Weather Conditions_weather'],
      dtype='object')

In [115]:
# Replace null values in 'Weather Conditions' with values from 'Weather Conditions_weather'
merged_df['Weather_Conditions'] = merged_df['Weather Conditions'].fillna(merged_df['Weather Conditions_weather'])

In [116]:
print(merged_df['Weather_Conditions'].isnull().sum())

0

In [117]:
merged_df.drop(columns=['Month', 'Day', 'Weather Conditions'], inplace= True)

In [118]:
final_df= merged_df[['Trek_cleaned', 'Cost_cleaned', 'Time_cleaned', 'Trip_Grade_cleaned', 'Weather_Conditions',
                'Max_Altitude_cleaned','Accomodation/Hotel_type', 'Best_travel_time_1', 'Best_travel_time_2',
                'travel_date', 'Employment_type', 'year', 'fitness_level_cleaned',
                'trekkig_group_size', 'Guide_or_no_guide', 'Equipment_used',
                'Purpose_of_travel', 'Health_incidents', 'Rating', 'Sex', 'Age']]

In [119]:
list(final_df)

['Trek_cleaned',
 'Cost_cleaned',
 'Time_cleaned',
 'Trip_Grade_cleaned',
 'Weather_Conditions',
 'Max_Altitude_cleaned',
 'Accomodation/Hotel_type',
 'Best_travel_time_1',
 'Best_travel_time_2',
 'travel_date',
 'Employment_type',
 'year',
 'fitness_level_cleaned',
 'trekkig_group_size',
 'Guide_or_no_guide',
 'Equipment_used',
 'Purpose_of_travel',
 'Health_incidents',
 'Rating',
 'Sex',
 'Age']

In [120]:
final_df.rename(columns={'Trek_cleaned': 'Trek',
                         'Cost_cleaned': 'Cost',
                         'Time_cleaned': 'Time',
                         'Trip_Grade_cleaned': 'Trip_Grade',
                         'Max_Altitude_cleaned': 'Max_Altitude',
                         'fitness_level_cleaned': 'Fitness_Level',
                         'trekkig_group_size': 'Trekking_GroupSize'
                         }, inplace=True)

C:\Users\hp\AppData\Local\Temp\ipykernel_8776\200861161.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df.rename(columns={'Trek_cleaned': 'Trek',

In [121]:
final_df = final_df.drop(['Employment_type', 'Equipment_used'], axis=1)
list(final_df)

['Trek',
 'Cost',
 'Time',
 'Trip_Grade',
 'Weather_Conditions',
 'Max_Altitude',
 'Accomodation/Hotel_type',
 'Best_travel_time_1',
 'Best_travel_time_2',
 'travel_date',
 'year',
 'Fitness_Level',
 'Trekking_GroupSize',
 'Guide_or_no_guide',
 'Purpose_of_travel',
 'Health_incidents',
 'Rating',
 'Sex',
 'Age']

In [122]:
final_df.to_csv('CleanedTrekDataset.csv')

FEATURE SELECTION AND MODEL TRAINING

In [123]:
correlation_columns= final_df[['Cost', 'Time', 'Trip_Grade', 'Max_Altitude', 'Trekking_GroupSize', 'Rating']]

In [124]:
correlation_columns.corr()

,Cost,Time,Trip_Grade,Max_Altitude,Trekking_GroupSize,Rating
Cost,1.000000,0.284116,0.269225,0.253899,0.000668,0.009484
Time,0.284116,1.000000,0.370322,0.532992,0.011053,0.006830
Trip_Grade,0.269225,0.370322,1.000000,0.463427,0.027454,0.027510
Max_Altitude,0.253899,0.532992,0.463427,1.000000,-0.013833,0.009732
Trekking_GroupSize,0.000668,0.011053,0.027454,-0.013833,1.000000,0.674534
Rating,0.009484,0.006830,0.027510,0.009732,0.674534,1.000000